<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="browser_choice_settings">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <entry key="browser" type="xstring" value="CHROME"/>
            <entry key="path" type="xstring" value=""/>
        </config>
        <config key="browser_settings">
            <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
            <entry key="custom_arguments" type="xstring" value=""/>
            <entry key="is_headless" type="xboolean" value="true"/>
            <entry key="is_maximized" type="xboolean" value="false"/>
        </config>
        <entry key="json-type_Internals" type="xstring" value="OBJECT"/>
        <entry key="extension_version_Internals" type="xstring" value="5.4.2"/>
    </config>
    <config key="variables"/>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <config key="nodecontainer_message">
        <entry key="type" type="xstring" value="WARNING"/>
        <entry key="message" type="xstring" value="Node can't be executed - Node &quot;Web Interaction Start (Labs)&quot; not available from extension &quot;KNIME Web Interaction (Labs)&quot; (provided by &quot;KNIME AG, Zurich, Switzerland&quot;; plugin &quot;org.knime.python.web&quot; is not installed)"/>
    </config>
    <entry key="factory" type="xstring" value="org.knime.python3.nodes.extension.ExtensionNodeSetFactory$DynamicExtensionNodeFactory"/>
    <entry key="node-name" type="xstring" value="Web Interaction Start (Labs)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME Web Interaction (Labs)"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.python.web"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.4.2.v202502111704"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Web Interaction (Labs)"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.python.features.web.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.4.2.v202502111704"/>
    <entry key="factory-id-uniquifier" type="xstring" isnull="true" value=""/>
    <config key="factory_settings">
        <entry key="extension_id" type="xstring" value="org.knime.python.web"/>
        <entry key="node_id" type="xstring" value="Starter"/>
    </config>
    <entry key="name" type="xstring" value="MISSING Web Interaction Start (Labs)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports">
        <config key="port_1">
            <entry key="index" type="xint" value="1"/>
            <entry key="port_dir_location" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
