<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
    <entry key="node_file" type="xstring" value="settings.xml"/>
    <config key="flow_stack"/>
    <config key="internal_node_subsettings">
        <entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
    </config>
    <config key="model">
        <config key="recipients">
            <entry key="to" type="xstring" value="$email$"/>
            <entry key="cc" type="xstring" isnull="true" value=""/>
            <entry key="bcc" type="xstring" isnull="true" value=""/>
            <entry key="replyTo" type="xstring" isnull="true" value=""/>
        </config>
        <config key="message">
            <entry key="subject" type="xstring" value="Here's a gift for you!"/>
            <entry key="message" type="xstring" value="&lt;p&gt;$&quot;Email Content&quot;$&lt;/p&gt;"/>
            <entry key="format" type="xstring" value="HTML"/>
            <config key="attachments"/>
            <entry key="attachmentColumn" type="xstring" isnull="true" value=""/>
        </config>
    </config>
    <config key="variables">
        <entry key="version" type="xstring" value="V_2019_09_13"/>
        <config key="tree">
            <config key="recipients">
                <config key="to">
                    <entry key="used_variable" type="xstring" value="email"/>
                    <entry key="used_variable_flawed" type="xboolean" value="false"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
            <config key="message">
                <config key="message">
                    <entry key="used_variable" type="xstring" value="Email Body"/>
                    <entry key="used_variable_flawed" type="xboolean" value="false"/>
                    <entry key="exposed_variable" type="xstring" isnull="true" value=""/>
                </config>
            </config>
        </config>
    </config>
    <entry key="customDescription" type="xstring" isnull="true" value=""/>
    <entry key="state" type="xstring" value="IDLE"/>
    <entry key="factory" type="xstring" value="org.knime.email.nodes.sender.EmailSenderNodeFactory"/>
    <entry key="node-name" type="xstring" value="Email Sender (Labs)"/>
    <entry key="node-bundle-name" type="xstring" value="KNIME EMail Processing"/>
    <entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.email"/>
    <entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-bundle-version" type="xstring" value="5.5.0.v202505210650"/>
    <entry key="node-feature-name" type="xstring" value="KNIME Email Processing"/>
    <entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.email.feature.group"/>
    <entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
    <entry key="node-feature-version" type="xstring" value="5.5.0.v202505210650"/>
    <entry key="factory-id-uniquifier" type="xstring" isnull="true" value=""/>
    <config key="factory_settings"/>
    <entry key="name" type="xstring" value="MISSING Email Sender (Labs)"/>
    <entry key="hasContent" type="xboolean" value="false"/>
    <entry key="isInactive" type="xboolean" value="false"/>
    <config key="ports"/>
    <config key="filestores">
        <entry key="file_store_location" type="xstring" isnull="true" value=""/>
        <entry key="file_store_id" type="xstring" isnull="true" value=""/>
    </config>
</config>
